@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  background-color: black;
}
html::-webkit-scrollbar-thumb {
  background-color: #f6ad34;
}

body {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

p, h1, h2, h3, ul {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

.menu > li, .home {
  margin: 20px;
}

header {
  background-color: black;
  color: #f6ad34;
  height: 70px;
  font-size: 20px;
  padding: 0 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 96.08vw;
  z-index: 10;
}

.lang {
  display: flex;
}

.lang > p {
  margin: 0 5px;
}

.menu {
  margin-right: 120px;
}

.home > a:link, .home > a:active, .home > a:visited, .menu > li > a:link, .menu > li > a:active, .menu > li > a:visited, .github > a:link, .github > a:active, .github > a:visited {
  color: #f6ad34;
  text-decoration: none;
}
.home > a:hover, .menu > li > a:hover, .github > a:hover {
  color: white;
}

.intro {
  min-height: 800px;
  background-image: url("../../assets/images/bg.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font-size: 100px;
  font-weight: 700;
}

.skills {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: black;
  color: #f6ad34;
  position: relative;
  box-shadow: 0px 0px 20px -5px #f6ad34;
  z-index: 5;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 125px);
  top: -75px;
  box-shadow: 0px 0px 20px 7px black;
}

.skills > ul {
  padding: 0;
}

.skl-left, .skl-right {
  width: calc(50% - 125px);
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.html {
  color: #F67E34;
}

.css {
  color: #608FD0;
}

.vegas {
  color: #7EA1D0;
}

.adobe {
  color: #7667D5;
}

.work {
  background: linear-gradient(#523004, black);
  padding: 100px 0 50px;
  box-shadow: 0px 0px 20px 20px black;
  position: relative;
  z-index: 4;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proj {
  background-color: red;
  width: 400px;
  height: 400px;
  margin: 10px;
}

.channel {
  background-color: red;
  width: 1240px;
  height: 400px;
  margin: 10px;
}

.proj, .channel {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 30px -5px black;
  filter: grayscale(100%);
}
.proj:hover, .channel:hover {
  filter: grayscale(0%);
}

.proj > p {
  background-color: black;
  padding: 5px 10px 5px 20px;
}

.channel {
  justify-content: center;
}

.channel > p {
  padding: 5px 20px;
  background-color: black;
}

.proj1 {
  background-image: url("../../assets/images/proj1.jpg");
}

.proj2 {
  background-image: url("../../assets/images/proj2.jpg");
}

.proj3 {
  background-image: url("../../assets/images/proj3.jpg");
}

.proj4 {
  background-image: url("../../assets/images/proj4.jpg");
}

.proj5 {
  background-image: url("../../assets/images/proj5.jpg");
}

.proj6 {
  background-image: url("../../assets/images/proj6.jpg");
}

.channel {
  background-image: url("../../assets/images/proj7.jpg");
}

.about {
  background-image: url("../../assets/images/bg.jpg");
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

h2 {
  color: white;
  font-size: 70px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.about-wrapper {
  width: 1180px;
  background-color: black;
  margin-bottom: 70px;
  padding: 30px;
  display: flex;
  box-shadow: 0px 0px 20px -5px #f6ad34;
}

.about-wrapper > p {
  color: white;
  margin: auto 30px auto 0;
  font-size: 30px;
  text-align: justify;
}

.diploma-1 {
  width: 450px;
  height: 348px;
}

.diploma-2 {
  width: 450px;
  height: 318px;
}

.about > ul {
  color: white;
  font-size: 40px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 100px;
}

.about > ul > li {
  cursor: pointer;
}
.about > ul > li:first-child {
  color: #f6ad34;
  cursor: auto;
}

.social > li > a:link, .social > li > a:active, .social > li > a:visited {
  color: white;
  text-decoration: none;
}
.social > li > a:hover {
  color: #f6ad34;
}

footer {
  height: 70px;
  background-color: black;
  box-shadow: 0px 0px 20px 20px black;
  position: relative;
  z-index: 6;
  color: #f6ad34;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > ul {
  width: 1240px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */