@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  background-color: black;
}
html::-webkit-scrollbar-thumb {
  background-color: #f6ad34;
}

a {
  transition: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

p, h1, h2, h3, ul {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

.menu > li, .home {
  margin: 20px;
}

header {
  background-color: black;
  color: #f6ad34;
  height: 70px;
  font-size: 20px;
  padding: 0 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 96.08vw;
  z-index: 10;
}

.lang {
  display: flex;
}

.lang > p {
  margin: 0 5px;
}

.menu {
  margin-right: 120px;
}

.home > a:link, .home > a:active, .home > a:visited, .menu > li > a:link, .menu > li > a:active, .menu > li > a:visited, .github > a:link, .github > a:active, .github > a:visited {
  color: #f6ad34;
  text-decoration: none;
}
.home > a:hover, .menu > li > a:hover, .github > a:hover {
  color: white;
}

.burger {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/burger.png");
  background-size: 100%;
  margin-right: 20px;
}

.intro {
  min-height: 800px;
  background-image: url("../../assets/images/bg.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font-size: 100px;
  font-weight: 700;
}

.skills {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: black;
  color: #f6ad34;
  position: relative;
  box-shadow: 0px 0px 20px -5px #f6ad34;
  z-index: 5;
}

.avatar {
  transition: 0.5s;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 125px);
  top: -75px;
  box-shadow: 0px 0px 20px 7px black;
}
.avatar:hover {
  width: 260px;
  height: 260px;
  left: calc(50% - 130px);
  top: -80px;
}

.skills > ul {
  padding: 0;
}

.skl-left, .skl-right {
  width: calc(50% - 125px);
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.html {
  color: #F67E34;
}

.css {
  color: #608FD0;
}

.vegas {
  color: #7EA1D0;
}

.adobe {
  color: #7667D5;
}

.work {
  background: linear-gradient(#523004, black);
  padding: 100px 0 50px;
  box-shadow: 0px 0px 20px 20px black;
  position: relative;
  z-index: 4;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proj-container > a > div {
  transition: 0.3s;
}

.proj-container > a:link, .proj-container > a:active, .proj-container > a:visited {
  color: white;
  text-decoration: none;
}

.proj {
  width: 400px;
  height: 400px;
  margin: 10px;
  position: relative;
}

.channel {
  width: 86.112vw;
  height: 400px;
  margin: 10px;
}

.proj, .channel {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 30px -5px black;
  filter: grayscale(100%);
}
.proj:hover, .channel:hover {
  filter: grayscale(0%);
}

.proj > p {
  background-color: black;
  padding: 5px 10px 5px 20px;
}

.proj > p, .channel > p {
  position: relative;
  z-index: 8;
}

.channel {
  justify-content: center;
}

.channel > p {
  padding: 5px 20px;
  background-color: black;
}

.proj1 {
  background-image: url("../../assets/images/proj1.jpg");
}

.proj2 {
  background-image: url("../../assets/images/proj2.jpg");
}

.proj3 {
  background-image: url("../../assets/images/proj3.jpg");
}

.proj4 {
  background-image: url("../../assets/images/proj4.jpg");
}

.proj5 {
  background-image: url("../../assets/images/proj5.jpg");
}

.proj6 {
  background-image: url("../../assets/images/proj6.jpg");
}

.channel {
  background-image: url("../../assets/images/proj7.jpg");
}

.proj-black {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0;
}

.about {
  background-image: url("../../assets/images/bg.jpg");
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

h2 {
  color: white;
  font-size: 70px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.about-wrapper {
  width: 81.5%;
  background-color: black;
  margin-bottom: 70px;
  padding: 30px;
  display: flex;
  box-shadow: 0px 0px 20px -5px #f6ad34;
}

.about-wrapper > p {
  color: white;
  margin: auto 30px auto 0;
  font-size: 30px;
  text-align: justify;
}

.diploma-1 {
  width: 450px;
  height: 348px;
}

.diploma-2 {
  width: 450px;
  height: 318px;
}

.social {
  color: white;
  font-size: 40px;
  width: 85.2vw;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 100px;
}

.social > li {
  cursor: pointer;
}
.social > li:first-child {
  color: #f6ad34;
  cursor: auto;
}

.social > li > a:link, .social > li > a:active, .social > li > a:visited {
  color: white;
  text-decoration: none;
}
.social > li > a:hover {
  color: #f6ad34;
}

.diplomas > a:hover {
  opacity: 0.7;
}

footer {
  height: 70px;
  background-color: black;
  box-shadow: 0px 0px 20px 20px black;
  position: relative;
  z-index: 6;
  color: #f6ad34;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

footer > ul {
  flex-basis: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023.5px) {
  header {
    padding: 0;
    width: 100vw;
  }
  .intro {
    min-height: 600px;
  }
  .menu {
    margin-right: 0;
    flex-direction: column;
    position: absolute;
    top: 2px;
    right: 0;
    display: none;
  }
  .burger {
    display: block;
  }
  .proj {
    width: 240px;
    height: 240px;
    margin: 5px;
  }
  .channel {
    width: 740px;
    height: 240px;
    background-position-x: -480px;
    margin: 5px;
  }
  .proj > p {
    max-width: 30%;
  }
  .about-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .about-wrapper > p {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .diplomas {
    display: flex;
    justify-content: space-between;
  }
  .diploma-1 {
    width: 37.600563vw;
    height: 29.0911111111vw;
    margin-right: 30px;
  }
  .diploma-2 {
    width: 41.170701vw;
    height: 29.0911111111vw;
  }
  .social {
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    min-height: 500px;
    background-image: url("../../assets/images/bg.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
  h3 {
    font-size: 15px;
  }
  .skills {
    height: 70px;
  }
  .avatar {
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
  }
  .skl-left, .skl-right {
    display: none;
  }
  .channel {
    width: 240px;
    margin: 10px;
    justify-content: flex-start;
  }
  .channel > p, .proj > p {
    background-color: black;
    padding: 5px 10px 5px 20px;
    max-width: 40%;
  }
}/*# sourceMappingURL=style.css.map */